@media (min-width:1200px){  	
    nav {
        max-width: 15%;
        display: inline-block;
        float: left;
        background-color: white;
    }
    
    main {
        display: inline-block;
        max-width: 80%;
        float: right;
    }
}

@media only screen and (min-width: 600px) {   
    body {
        background-color: rgb(223, 223, 223);
    }

    #How_to_Choose_your_Laptop {
        background-color: lightgoldenrodyellow;
    }

    .main-section {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
        
    #main-doc {
        background-color: azure;
    }
            
}